.iksweb {
    display: block;
    cursor: pointer;
    font-size: 17px;
    text-decoration: none;
    padding: 12px 60px;
    color: #5900ff;
    background: #ffffff;
    border-radius: 60px;
    border: 1px solid #5900ff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
}

.iksweb:hover {
    background: #5900ff;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 0.4s ease;
}
