 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/-----6223048.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 911px;
}

.u-section-1 .u-image-1 {
  width: 100px;
  height: 60px;
  margin: 0 auto 60px -50px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  line-height: 76.8px;
  letter-spacing: normal;
  margin: 150px 0 60px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  font-weight: normal;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-top: 1px;
    margin-bottom: 0;
    margin-left: 27px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 327px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.25rem;
    margin: 25px auto 60px;
    padding: 10px 121px 10px 120px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 79px;
    height: 47px;
    margin-top: 12px;
    margin-left: -24px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    line-height: 2.2;
    letter-spacing: 0px;
    margin-top: 258px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    font-weight: 700;
    margin: 0;
    padding: 3px 13px 3px 12px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.25rem;
    border-style: solid;
    font-weight: 700;
    margin: 23px -1px 60px;
    padding: 3px 35px 3px 33px;
  }
}